# ------------------------
# Python
# ------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pytest_cache/
*.mypy_cache/
*.coverage
coverage.xml
htmlcov/
dist/
build/
*.egg-info/
.eggs/

# Poetry virtual environment
.venv/
.env

alembic/__pycache__/*
alembic/versions/__pycache__/*
tests/__pycache__/*

.idea

test.db